* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background: #1b2838;
	color: #2f89bc;
}
#notsteam {
	background: #c10;
	text-align: center;
	padding: 20px;
	color: #FFF;
	font-weight: bold;
	font-size: 20px;
}
label, input {
	display: block;
}
input {
	margin: 0px;
	color: #BFBFBF;
	outline: none;
	padding: 4px 6px;
	background-color: rgba( 0, 0, 0, 0.4 );
	border: 1px solid #000;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 200px;
}
label {
	font-size: 13px;
}
#confwrap {
	width: 670px;
	margin: auto;
}
#confwrap h2 {
	margin-left: 35px;
	color: #FFF;
}
#reload {
	margin-right: 35px;
}
form, #code, #conf div {
	width: 600px;
	margin: 30px auto;
	padding: 25px 35px;
}
form, #code, #conf div, .icon {
	background: linear-gradient( to bottom, rgba( 64, 128, 183, 0.4) 5%, rgba( 64, 128, 183, 0.2) 95%);
	box-shadow: 0px 0px 3px 0px rgba(20,20,20,0.75);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
h1, #code span {
	color: #ffffff;
	font-size: 22px;
	font-family: "Motiva Sans Light", Arial, Helvetica, sans-serif;
	font-weight: normal;
}
#code span {
	text-align: center;
	display: block;
	font-size: 32px;
	font-weight: bold;
}
#code i {
	font-size: 12px;
	color: #c10;
	text-align: center;
	display: block;
	font-weight: bold;
	font-style: none;
}
#counter {
	height: 4px;
	background-color: #FFF;
	width: 300px;
	margin: 10px auto;
}
p, a {
	max-width: 260px;
	font-size: 14px;
	color: #8F98A0;
	margin-bottom: 10px;
}
.btn {
	display: inline-block;
	background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
	padding: 0 15px;
	margin-right: 10px;
	font-size: 15px;
	line-height: 30px;
	cursor: pointer;
	border-radius: 2px;
	color: #D2E885 !important;
	border: 0;
	width: auto;
}
.btn:hover {
	color: #FFF !important;
	background: linear-gradient( to bottom, #b6d908 5%, #80a006 95%);
}
#extraLogin {
	float: right;
	width: 280px;
}
#conf .btn {
	float: right;
	margin-left: 10px;
}
#conf span {
	display: block;
	padding: 6px;
}
.icon {
	cursor: pointer;
	float: right;
	padding: 8px 10px;
	color: #fff;
	margin-left: 10px;
}
#code, #confwrap, #cancel {
	display: none;
}
